// Colors
$darkBlue: #0E3147;
$lightRed: #E84553;
$lightYellow: #F9D28D;
$white: #F6F9FB;
$paleGreen: #69CE78;


// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
$font-xxl: 4rem;