<div class="container dashboard">
  <div class="title">
    <h1>Welcome <%= @user.username %> !</h1>
  </div>
  <div class="user__info">
    <%= image_tag "quizzator_avatar.svg" %>
    <ul>
      <li> <%= @scores[0].first %> ||  <%= @scores[0].last %> </li>
    </ul>
  </div>
</div>